.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding-left: 2rem;
  background: #CBBDBD;
  max-height: 80px;
}

.navbar a {
  color: black;
}

#home {
  font-weight: 100;
  font-size: 2rem;
}

.links {
  width: 50%;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.quick-links{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.resume-btn a {
  background: #574142;
  color: #CBBDBD;
  padding: 2px 20px;
  border-radius: 5px;
}


