.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  background: #CBBDBD;
  max-height: 80px;
}

.navbar a {
  color: black;
}

#home {
  font-weight: 100;
  font-size: 2rem;
  padding-left: 2.5rem;
}

#home a:hover {
  color: #574142;
}

.links {
  width: 50%;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.quick-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.quick-link a:hover {
  color: #574142;
}

a {
  text-decoration: none;
}

.resume-btn a {
  background: #574142;
  color: #CBBDBD;
  padding: 2px 20px;
  border-radius: 5px;
}

.resume-btn a:hover{
  filter: brightness(70%)
}


.hamburger {
  display: none;
  cursor: pointer;
  padding: 0 2rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.home {
  height: 95vh;
  width: 100%;
  display: flex;
  background: #CBBDBD;
}

.home-contents {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 45%;
  margin: 0 3%;
  flex-direction: column;
}

.intro h1{
  font-weight: 400;
  font-size: 3rem;
}

.intro p {
  font-size: 2.3rem;
}

.home-icons {
  display: flex; 
  gap: 2%;
}

.home-icon{
  width: 55px;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
}

.home-icon:hover {
  transform: translateY(-8px);
}

.cat-btn {
  background: #574142;
  color: #CBBDBD;
  display: flex; 
  align-self: flex-start;
  margin-top: 3%;
  padding: 8px 15px;
  font-size: 1.1rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.cat-btn:hover {
  filter: brightness(70%);
}

.home-icon-a svg:hover path:nth-of-type(1) {
  filter: brightness(80%);
}

.highlights {
  color: #574142;
}

.section-title {
  border-bottom: 2px solid #CBBDBD;
  font-size: 3rem;
}

@media (max-width: 1280px) {
  #home {
    font-size: 1.5rem
  }

  .links {
    font-size: 1rem;
  }

  .home-contents{
    width: 55%;
  }

  .intro h1{
    font-size: 2.85rem;
  }
  
  .intro p {
    font-size: 1.9rem;
  }
}



@media (max-width: 768px) {
  .hamburger {
      display: block;
  }

  .hamburger.appear .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.appear .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.appear .bar:nth-child(2) {
      opacity: 0;
  }

  .links {
    height: 75%;
    position: fixed;
    left: -100%;
    top: 40px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: space-evenly;
    z-index: 99;
    padding: 0;
}

.links.appear {
    left: 0;
}

.quick-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: inherit;
        gap: 10px;
        background: #CBBDBD;
}

.home-contents {
  width: 100%;
  align-items: center;
}

.intro h1{
  font-size: 2.4rem;
  text-align: center;
}

.intro p {
  font-size: 1.65rem;
  text-align: center;
}

.home-icons {
  justify-content: center;
  align-items: center;
  gap: 40%;
}

.cat-btn {
  align-self: center;
  padding: 9px 30px; 
}

.home-icon{
  width: 45px;
  height: 45px;
}
}


